<style>
	
#plan1 {

	height: 550px;
	width: 30%;
	background-image: url(https://image.freepik.com/free-photo/galaxy-scene_1048-5105.jpg);
	border: solid 2px white;
	
}

#plan2 {

	height: 550px;
	width: 30%;
	background: #005e62;
	border: solid 2px white;
	background-image: url(https://image.freepik.com/free-photo/galaxy-scene_1048-5105.jpg);
}

#plan3 {

	height: 550px;
	width: 30%;
	background: #005e62;
	border: solid 2px white;
}

.row {

	margin-left: 5%;
}

#plan1 img {

	height: 330px;
	padding: 2%;
}

.infoprice {

	background-color: rgba(0, 0, 0, 0.5);
    color:#000;
}

h6 {

	padding: 4px;
}

</style>

<div class="row">
		<div class="col-md-4" id="plan1"> 

				<img src="https://image.flaticon.com/icons/png/512/30/30234.png" class="img-responsive" alt="">
			
			
			<div class="infoprice">
					
				<h3 > Basic Plan / 4,99 USD </h3>
				<h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur quod aliquam iste doloremque nihil libero harum dolorum placeat nisi. Aliquam vero, illum! Corrupti nihil possimus sunt iste delectus, quibusdam ea!asdaasdsas</div>
				<button type="button" class="btn btn-primary">Comprar</button></h6>

		    </div>

		<div class="col-md-4" id="plan1"> 

				<img src="https://image.flaticon.com/icons/png/512/31/31441.png" class="img-responsive" alt="">
			<div class="infoprice">
					
				<h3> Advanced Plan / 9,99 USD </h3>
				<h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur quod aliquam iste doloremque nihil libero harum dolorum placeat nisi. Aliquam vero, illum! Corrupti nihil possimus sunt iste delectus, quibusdam ea!asdaasdsas</div>
				<button type="button" class="btn btn-primary">Comprar</button></h6>
			</div>

		<div class="col-md-4" id="plan1"> 

				<img src="http://moziru.com/images/gears-clipart-psychology-brain-4.png" class="img-responsive" alt="">
			<div class="infoprice">
					
				<h3> PRO Plan 19,99 USD </h3>
				<h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur quod aliquam iste doloremque nihil libero harum dolorum placeat nisi. Aliquam vero, illum! Corrupti nihil possimus sunt iste delectus, quibusdam ea!asdaasdsas</div> 	
				<button type="button" class="btn btn-primary">Comprar</button></h6>
			</div>

</div>


