 <!DOCTYPE html>
<head>
<title>Page Title</title>
</head>

<style>

	body {

		background-image: url(https://wallpapercave.com/wp/K0HCxt0.jpg);
	}
	h1 {

		text-align: center;
	}
	h2 {

		text-align: center;
	}

	div.imagenes {

		background: linear-gradient(#272727, white);
		height: 520px;
		margin-top: 200px;
		display: block;
		margin: auto;	

	}

	.imagenes img {
	
		width: 300px;
		height: 500px;
		border-radius: 10px;
		filter: grayscale(65%);
		transition: all 1s linear;
		margin-top: 10px;
		padding: 10px;
		box-shadow: 3px 2px 10px 2px white;

		

	}


	#csgo:hover {

		filter: contrast(100%);
		transform: scaleY(1.1) scaleX(1.1);
		


	}

	#pubg:hover {

		filter: contrast(100%);
        transform: scaleY(1.1) scaleX(1.1);

	}

	#lol:hover {

		filter: contrast(100%);
		transform: scaleY(1.1) scaleX(1.1);


	}

	#dota:hover {

		filter: contrast(100%);
		transform: scaleY(1.1) scaleX(1.1);


	}

	div.imagenes {

		margin-top: 3em;
	}

@import "compass/css3";

@import url(https://fonts.googleapis.com/css?family=Share+Tech+Mono);


body{
  background: black;
}

svg{
  width: 600px;
  height: 120px;
  display: block;
  position: relative;
  overflow: hidden; 
  margin: 0 auto;
  background: black;
}

#botones {

	margin-left: 40em;
}

#infoimage {

	background-image: url();
}


</style>


<div class="container">
<svg version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
	 width="600px" height="100px" viewBox="0 0 600 100">
<style type="text/css">

<![CDATA[

	text {
		filter: url(#filter);
		fill: white;
    	font-family: 'Share Tech Mono', sans-serif;
    	font-size: 100px;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
     		}
]]>
</style>
	<defs>

		<filter id="filter">
		    <feFlood flood-color="black" result="black" />
		    <feFlood flood-color="red" result="flood1" />
		    <feFlood flood-color="limegreen" result="flood2" />
			<feOffset in="SourceGraphic" dx="3" dy="0" result="off1a"/>
			<feOffset in="SourceGraphic" dx="2" dy="0" result="off1b"/>
			<feOffset in="SourceGraphic" dx="-3" dy="0" result="off2a"/>
			<feOffset in="SourceGraphic" dx="-2" dy="0" result="off2b"/>
		    <feComposite in="flood1" in2="off1a" operator="in"  result="comp1" />
		    <feComposite in="flood2" in2="off2a" operator="in" result="comp2" />

 		  	<feMerge x="0" width="100%" result="merge1">
				<feMergeNode in = "black" />
				<feMergeNode in = "comp1" />
				<feMergeNode in = "off1b" />

				<animate 
					attributeName="y" 
		    		id = "y"
		    		dur ="4s"
		    		
		    		values = '104px; 104px; 30px; 105px; 30px; 2px; 2px; 50px; 40px; 105px; 105px; 20px; 6ßpx; 40px; 104px; 40px; 70px; 10px; 30px; 104px; 102px'

		    		keyTimes = '0; 0.362; 0.368; 0.421; 0.440; 0.477; 0.518; 0.564; 0.593; 0.613; 0.644; 0.693; 0.721; 0.736; 0.772; 0.818; 0.844; 0.894; 0.925; 0.939; 1'

		    		repeatCount = "indefinite" />
 
				<animate attributeName="height" 
		    		id = "h" 
		    		dur ="4s"
		    		
		    		values = '10px; 0px; 10px; 30px; 50px; 0px; 10px; 0px; 0px; 0px; 10px; 50px; 40px; 0px; 0px; 0px; 40px; 30px; 10px; 0px; 50px'

		    		keyTimes = '0; 0.362; 0.368; 0.421; 0.440; 0.477; 0.518; 0.564; 0.593; 0.613; 0.644; 0.693; 0.721; 0.736; 0.772; 0.818; 0.844; 0.894; 0.925; 0.939; 1'

		    		repeatCount = "indefinite" />
		    </feMerge>
 			

 			<feMerge x="0" width="100%" y="60px" height="65px" result="merge2">
				<feMergeNode in = "black" />
				<feMergeNode in = "comp2" />
				<feMergeNode in = "off2b" />

				<animate attributeName="y" 
		    		id = "y"
		    		dur ="4s"
		    		values = '103px; 104px; 69px; 53px; 42px; 104px; 78px; 89px; 96px; 100px; 67px; 50px; 96px; 66px; 88px; 42px; 13px; 100px; 100px; 104px;' 

		    		keyTimes = '0; 0.055; 0.100; 0.125; 0.159; 0.182; 0.202; 0.236; 0.268; 0.326; 0.357; 0.400; 0.408; 0.461; 0.493; 0.513; 0.548; 0.577; 0.613; 1'

 		    		repeatCount = "indefinite" />
 
				<animate attributeName="height" 
		    		id = "h"
		    		dur = "4s"
					
					values = '0px; 0px; 0px; 16px; 16px; 12px; 12px; 0px; 0px; 5px; 10px; 22px; 33px; 11px; 0px; 0px; 10px'

		    		keyTimes = '0; 0.055; 0.100; 0.125; 0.159; 0.182; 0.202; 0.236; 0.268; 0.326; 0.357; 0.400; 0.408; 0.461; 0.493; 0.513;  1'
		    		 
		    		repeatCount = "indefinite" />
		    </feMerge>
			
		 	<feMerge>
 				<feMergeNode in="SourceGraphic" />	

				<feMergeNode in="merge1" /> 
 			<feMergeNode in="merge2" />

		    </feMerge>
	    </filter>

	</defs>

<g>
	<text x="0" y="100"> DISPONIBLES</text>

</g>
</svg>

</div>

<div class="imagenes">
	<div class="row">
  		<div class="col-md-3"> <img id="csgo"  src="https://wallpaperscraft.com/image/counter_strike_global_offensive_art_anarchist_game_card_steam_cs_go_97006_300x500.jpg" <a href="">
  		</div> 
  		<div class="col-md-3"> <img id="pubg" src="http://gamergarage.cl/juegos/207.jpg" alt="">
  		</div>
  		<div class="col-md-3"> <img id="lol" src="https://wallpaperscraft.com/image/league_of_legends_lol_elise_girl_armor_claws_minimalism_97279_300x500.jpg" alt="
  		">
  		</div>
  		<div class="col-md-3"> <img id="dota" src="https://wallpaperscraft.com/image/dota_2_game_logo_background_92935_300x500.jpg" alt=""></div>
		</div>
</div>

<div id="infoimage" ">
	
	


	<div class="container">
	
	<article style="background: black">
			<h1> ¿COMO FUNCIONA?</h1>
	 <h5><div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit dolore eaque assumenda debitis, aspernatur rerum obcaecati reprehenderit dolorem quia, quas, omnis laboriosam hic nisi? Nobis praesentium eos qui magni deserunt?</div>
	<div>Magnam ab a harum labore, amet voluptatem pariatur, dolorem hic quas repellat quam voluptas ipsam! Error nam, laboriosam quas libero eligendi! Sint sunt similique alias officia odio ipsam, facere quam?</div></h5>


	<h6><div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero at similique enim culpa aperiam distinctio necessitatibus dolorum illum pariatur! Nulla totam, quos architecto nobis hic, non illum rem eius eum!</div>
	<div>Inventore quod quos, ducimus alias neque deleniti veritatis obcaecati aperiam dolore soluta distinctio consequuntur omnis eius veniam? Ex repudiandae, dicta ducimus officiis doloremque nisi impedit vel voluptatem, ab, alias corporis.</div></h6>

	<img src="http://i0.wp.com/blog.mashape.com/wp-content/uploads/2014/09/Screenshot-2014-08-18-16.27.34.png" alt="">



	<h6><div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta voluptatibus dolorem ipsum cum possimus dolor dolores fuga odit similique necessitatibus, hic repellendus tempora, officiis ad unde aut aliquam quos explicabo!</div>
	<div>Maxime cum itaque error molestiae in porro ratione, commodi quidem laudantium, dolorem odit corporis blanditiis quis dolores. Eligendi quaerat suscipit illo unde nesciunt reiciendis vero. Maiores ea voluptatibus sapiente rem!</div></h6>
	<h6><div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, corrupti ullam fuga nesciunt vel nostrum illum ipsa magni, ea enim quos voluptatibus quisquam nam nobis nemo qui architecto amet impedit.</div>
	<div>Vero vitae consequuntur cum soluta, quos, praesentium similique dolorem assumenda necessitatibus autem a eius ipsam beatae maiores illo quisquam ipsa animi deserunt aspernatur atque consequatur fugit. Labore aliquid deserunt id.</div></h6>
	<h6><div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos aut, perspiciatis expedita illum recusandae, ducimus itaque praesentium incidunt nisi eum quos quo magnam at explicabo? Cum, debitis explicabo exercitationem? Enim?</div>
	<div>Incidunt ullam ad atque eius architecto velit quia perferendis cum, ut reiciendis libero, nisi, ex consectetur dolorem corporis illo quis at blanditiis. Cupiditate sit nisi quibusdam, velit dolorum perferendis, aliquam.</div></h6>
	<h6><div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore laborum, magni ipsum libero sit assumenda laudantium est, qui fugit dolorem ipsa pariatur fugiat nam delectus aperiam vel temporibus illum? Ipsam!</div>
	<div>Mollitia repellendus, nemo veritatis non quia tempore nisi minima animi. Dolores aliquid, veniam veritatis impedit? Aliquid non officia dolor expedita, laudantium voluptatem fuga, laborum minima itaque nam ad esse odio!</div></h6>
	<h6><div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit suscipit molestias quisquam ab molestiae est magni totam. In veritatis harum deserunt, fuga repudiandae suscipit necessitatibus alias ullam quisquam porro quae.</div>
	<div>Laudantium magni mollitia veniam inventore, dolorum alias minima velit, consequatur sunt rerum architecto quidem, sapiente aliquam esse at cumque qui itaque quasi eveniet dignissimos, voluptate ullam. Totam quis voluptas, eius?</div></h6></article>

<div class="container" id="botones">
	
	<button type="button" class="btn btn-primary">ENTRENADORES</button>
	<button type="button" class="btn btn-success">COSTOS Y BENEFICIOS</button>

</div>



	</div>




